<strong>Password recovery</strong>

<p>A password recovery request was made for the following e-mail address: {{ email }}. If you did not make that request, we advise you to change your password.</p>

<p>To proceed with the password recovery process, please use the token {{ token }} or click the link below.</p>

<a href="{{ link }}">Create new password</a>
